fastapi
uvicorn[standard]
gunicorn
sqlalchemy
alembic
python-dotenv
pydantic
pydantic-settings
python-multipart
passlib[bcrypt]
python-jose[cryptography]
python-dateutil
qrcode
Pillow
aiofiles
httpx
aiosqlite
asyncpg
aiosmtplib
openpyxl
reportlab
boto3